{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Django chat server real time</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'cropperjs/dist/cropper.min.css' %}">
</head>
<body>
    {% include 'partials/base_css.html' %}
    {% include 'partials/base_js.html' %}
    {% include 'partials/header.html' %}

    <!-- Body -->

    <div class="container" id="id_loading_spinner" style="display: none">
        <div class="d-flex flex-row mx-auto flex-grow-1 justify-content-center">
            <div class="spinner-border text-primary" role="status">
               <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
    <style>
        .main {
            min-height: 100vh;
            height: 100%;
        }
    </style>
    <div class="main">
        <div class="container">{% include 'partials/messages.html' %}</div>
        {% block content %}
        {% endblock content %}
    </div>
    <!-- End body -->

    {% include 'partials/footer.html' %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script type="module" src="{% static 'cropperjs/dist/cropper.min.js' %}"></script>

    <script type="text/javascript">
        function displayLoadingSpinner(isDisplayed){
            var spinner = document.getElementById("id_loading_spinner")
            if(isDisplayed){
                spinner.style.display = "block"
            }else{
                spinner.style.display = "none"
            }
        }
    </script>

</body>
</html>